body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 70px;
  }
}

nav {
  padding-bottom: 40px;
  background-color: teal;
}

.imgsize{
  width: 60px;
  height: 60px;
  margin-left: 0px;
  margin-right: 5px;
  border-radius: 50%;
}

.row {
  padding-left: 75px;
  padding-right: 75px;
}
.col-md-7 {
  width: 350px;
  height: 350px;
}

.img-fluid {
    position: relative;
    float: left;
    width:  350px;
    height: 350px;
    /* background-position: 50% 50%; */
    /* background-repeat:   no-repeat; */
    /* background-size:     cover; */
}
