body {
  padding-top: 54px;
}

nav {
  padding-bottom: 40px;
  background-color: teal;
}

.imgsize{
  width: 60px;
  height: 60px;
  margin-left: 0px;
  margin-right: 5px;
  border-radius: 50%;
}

.user-image{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.img-fluid {
    position: relative;
    float: left;
    width:  350px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#name{


}

#college{

}

#fbimg{
  height: 25px;
  width: 25px;
}

#foot{
position:relative;
margin-top:10px;
bottom:0px;
width:100%;
display: grid;
}
