<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  {% block title %}<title>Free and For Sale</title>{% endblock %}
  {% block styles %}<!-- Styles for every page might vary-->{% endblock %}
</head>

<body>
  {% block navbar %}<!-- nav bar varies for landing page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
  {% block footer %}<!-- insert default footer for every page -->{% endblock %}
</body>
</html>
