{% extends "base.html" %}

{%block styles%}
<!-- Bootstrap core CSS -->
<link href="/static/css/flagged_items.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/static/css/flagged_items.css" rel="stylesheet">
<!-- Search icon logo -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
{%endblock%}

{% load static from staticfiles %}

{%block content%}
  <div class="container" style="min-height:610px">
    <div class="top-bar">
      <h2 class="my-4">Your Flagged Items</h2>
      <span>
        <form id="demo-2" method='GET'>
            <input type="search" name='qq' placeholder="Search">
        </form>
      </span>
    </div>
    <div style="clear:both"></div>
    <br>
    {% for product in flagged_items reversed %}
    <div class="row">
      <div class="col-md-7">
        {%if product.image %}
          <img class="img-fluid rounded mb-3 mb-md-0" src={{product.image.url}} alt="">
        {%else%}
          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'img/noimage.png' %}" alt="">
        {% endif %}
        </div>
      <div class="col-md-5">
        <h5><i>{{ product.title }}</i></h5><br>
        <p>{{ product.description }}<br><br>
        Price: ${{ product.price }}<br>
        Seller Name: {{ product.owner.first_name }} {{ product.owner.last_name }}<br>
        Seller College: {{ product.owner.get_college_display }}</p>
        <p>Rate this seller:
          <div class="rating">
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
          </div>
        </p>
        <p>
          <!--  Insert flag count here-->
          <red>{{ product.flag_count }}</red> User(s) flagged this item.
        </p>
        <form action="remove/" method="post">
          <input type='hidden' name='product_title' value="{{ product.title }}"/>
          <button type='submit' class="btn btn-primary">Un-Flag Item</button>
        </form>
        <form action="{% url 'alt_user' %}" method="get">
          <input type='hidden' name='user_obj' value="{{ product.owner.id }}"/>
          <button type='submit' class="btn btn-primary">View Seller</button>
        </form>
      </div>
    </div>
    <hr>
    <br>
    {% empty %}
      <br>
      <br>
      <br>
      <h3 style="text-align: center; color: #696969">You currently have nothing flagged.</h3>
      <br>
      <br>
    {% endfor %}
  </div>
{% endblock %}
