{% extends "base.html" %}

{%block styles%}
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/static/css/landing-page.min.css" rel="stylesheet">
{%endblock%}

{% load static from staticfiles %}


{% block logo %}{% endblock %}

{% block search %}{% endblock %}

{%block content%}

    <!-- Masthead<h1 class="mb-5">Buy and Sell!</h1> -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <img class="brand-logo" src="/static/img/logo.jpeg" alt="">
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto mt-4">
            <form method='GET' action='{% url 'search'%}'>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="search" class="form-control form-control-lg" name='q' placeholder="Search...">
                </div>
                <div class="col-12 col-md-3">
                    <button type='submit' class="btn btn-block btn-lg btn-primary">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-black text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Classes</h3>
              <p class="lead mb-0">Search by class number and find the textbooks you need!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Furniture</h3>
              <p class="lead mb-0">Pimp out your dorm room, get the furniture you need!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Peer to Peer</h3>
              <p class="lead mb-0">Buy and sell directly from other five college students!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases 'img/bg-showcase-3.jpg' -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://www.northeastohioparent.com/wp-content/uploads/2017/08/college-students-studying.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Made by Students</h2>
            <p class="lead mb-0">This entire website was built by Umass Amherst students. They turned this class project into a fully functioning website for everyone to use.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://www.umass.edu/sphhs/sites/default/files/PublicHealth_header_11.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>For the Students</h2>
            <p class="lead mb-0">This site is unlike any other. It is made specifically for the Five College Consortium, it has specific class information for convenience as well as many other products that cater to student life needs.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://99bitcoins.com/img/person-to-person-fi.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Person to Person</h2>
            <p class="lead mb-0">All services on this site are free. This site is meant to connect students and benefit the community.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center text-black bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-1.jpg" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-2.jpg" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"I sold my books directly to another student for as much as I paid for them!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/static/img/testimonials-3.jpg" alt="">
              <h5>Sarah W.</h5>
              <p class="font-weight-light mb-0">"Waaaaay less sketchy than Craigslist!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started?</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="m-0 text-center">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
          </div>
          </div>
        </div>
      </div>
    </section>



{% endblock %}
