{% extends "base.html" %}

    {%block styles%}
    <!-- Bootstrap core CSS -->
    <link href="/static/css/flagged_items.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/flagged_items.css" rel="stylesheet">
    <!-- Search icon logo -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
    {%endblock%}
{% load static from staticfiles %}

{% block edit %}
  <a class="btn btn-danger btn-sm ml-3" href="{% url 'logout'%}?next{'/accounts/logout'}">
    <i class="fa fa-user"></i> Log Out
  </a>
{% endblock %}

  {%block content%}

    <div class="container">

      <div class="top-bar">
      <!-- Page Heading -->
      <h2 class="my-4">Your Flagged Items</h2>
        <!-- <p id="search-bar"> -->
      <span>
      <form id="demo-2">
          <input type="search" placeholder="Search">
      </form>
    </span>
    </div>
    <div style="clear:both"></div>
    <br>

{% for obj1, obj2 in object_list %}

      <div class="row">
        <div class="col-md-7">
          <a href="#">
             <img class="img-fluid" src="{{obj1.image.url}}" alt="Responsive image">
          </a>
        </div>
        <div class="col-md-5">
          <h5><i>{{ obj1.title }}</i></h5><br>
          <p>{{ obj1.description }}<br><br>
          Price: ${{ obj1.price }}<br>
          Seller Name: {{ obj1.owner.first_name }} {{ obj1.owner.last_name }}<br>
          Seller College: {{ obj1.owner.get_college_display }}</p>
          <p>Rate this seller:
            <div class="rating">
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
            </div>
          </p>
          <p>
            <red>{{ obj2 }}</red> Flagged
          </p>
          <a class="btn btn-primary" href="#">View Seller</a>
          <a class="btn btn-primary" href="#">Unflag Item</a>
        </div>
      </div>


      <hr>
{% endfor %}


      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>

{% endblock %}
