{% extends "base.html" %}

    {%block styles%}
    <!-- Bootstrap core CSS -->
    <link href="/static/css/flagged_items.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/flagged_items.css" rel="stylesheet">
    <!-- Search icon logo -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {%endblock%}
{% load static from staticfiles %}

  {%block content%}
    <!-- Page Content -->
    <div class="">

      <div class="top-bar">
      <!-- Page Heading -->
      <h2 class="my-4">Your Flagged Items</h2><br>

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Free and For Sale 2018</p>
        <p class="m-0 text-center text-white">
           <a href="https://github.com/vedantpuri/ffs-web">View us on github <i class="fa fa-github"></i></a>
         </p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

{% endblock %}


</html>
