<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/css/upload_page.css" rel="stylesheet">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title>Upload Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href="index.html">
            <img class = "imgsize" src="/static/mock-data/logo.jpeg">
            Free and For Sale
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
              <ul class="navbar-nav m-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="index.html">
                        <i class="fa fa-home"></i>Home
                      </a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="product.html">
                        Upload Product
                       <!-- <span class="sr-only">(current)</span></a> -->
                     </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="cart.html">
                        Flagged Items<i class="fa fa-flag"></i>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="contact.html">Your Profile</a>
                  </li>
              </ul>

              <form class="form-inline my-2 my-lg-0">
                  <div class="input-group input-group-sm">
                      <input type="text" class="form-control" placeholder="Search...">
                      <div class="input-group-append">
                          <button type="button" class="btn btn-secondary btn-number">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
                  <a class="btn btn-success btn-sm ml-3" style="color=blue" href="cart.html">
                      <i class="fa fa-user"></i> Sign-in/Register
                      <!-- <span class="badge badge-light">3</span> -->
                  </a>
              </form>

          </div>
      </div>
    </nav>


    <!-- <div class="container"> -->

    <div class="top-bar">
      <h1 class="my-4" style="margin-left:40%">Post Your Item</h1>
    </div>

  <form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-2 mb-3">
    </div>
    <div class="col-md-4 mb-3">
      <label>Item Name</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Item Name">
    </div>
    <div class="col-md-4 mb-3">
      <label>Upload Item Image</label>
      <input type="file" id="imgInp">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-2 mb-3">
    </div>
    <div class="col-md-6 mb-3">
      <label>Item Description</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-2 mb-3">
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">Price($)</label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="Price" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-2 mb-3">
    </div>
    <div class="col-md-3 mb-3">
      <label for="exampleSelect1">Category</label>
      <select class="form-control">
        <option>Books</option>
        <option>Furniture</option>
        <option>Electronics</option>
        <option>Housing</option>
        <option>Vedio Gaming</option>
        <option>Phones</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check" style="margin-left:17%">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" style="margin-left:17%">Post</button>
</form>
<footer id="foot" class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Free and For Sale 2018</p>
    <p class="m-0 text-center text-white">
       <a href="https://github.com/vedantpuri/ffs-web">View us on github <i class="fa fa-github"></i></a>
     </p>
  </div>
  <!-- /.container -->
</footer>
</body>


</html>
