<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Universale login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/profile_registration.css' %}">
</head>


<body>
  <div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div id="holder" class="thumbnail__logo">
      <img src="{% static 'img/logo.jpeg' %}" style="border-radius: 50%"></img>
    </div>
    <div class="thumbnail__content text-center" id="header2" >
      <h1 class="heading--primary">Welcome to Universale!</h1>
      <br>
      <h2 class="heading--secondary">Amazing items, great prices, convenient pick-ups!</h2>
    </div>
    <div class="thumbnail__links">
      <ul class="list-inline m-b-0 text-center">
        <li><a href="https://github.com/vedantpuri/ffs-web" target="_blank">View us on GitHub <i class="fa fa-github"></i></a></li>
      </ul>
    </div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">

    {% if form.errors %}
<p style="color: black">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p style="color: black">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p style="color: black">Please login to see this page.</p>
    {% endif %}
{% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}



      <div class="form-group">
        <label for="username">Email</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Email" required />

      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="********" required />

      </div>

      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input id="button" class="btn btn--form" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </li>
          <li>
            <a class="signup__link" href="{% url 'signup' %}">New member? Signup!</a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>



</body>

</html>
